/* Header Specific Styles */
.Header {
  background-color: #28a745;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  height: 100px; /* Set a fixed height */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

.Header .Header-image {
  height: 50px;
}

/* Ensure all nav items (including buttons) are vertically centered */
.Navbar .nav {
  display: flex;
  align-items: center;
}


.Navbar .nav-link {
  color: #ffffff !important;
  margin-right: 15px;

}

.Navbar .nav-link:hover {
  color: #d4edda !important;
}

/* Hamburger icon color */
.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Dropdown menu styling */
.dropdown-menu {
  background-color: #28a745;
  border: none;
}

.dropdown-item {
  color: rgb(255, 255, 255);
}

.dropdown-item:hover {
  background-color: rgb(249, 249, 249);
  color: #28a745;
}

/* Move the login and signup buttons up */
.login-button, .signup-button {
  margin-top: -25px; /* Adjust as needed to move them higher */
}

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white !important;
  margin-top: -35px;
}