/* Header section */
.Header {
    background-color: #28a745;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;  /* Uniform padding with the footer */
    position: relative;  /* Relative positioning */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px; /* Adjust as needed */
}

.main-content {
    padding-top: 90px; /* Same as header height */
}

.Header .Header-image {
    height: 50px;
    width: auto; /* Maintain aspect ratio */
}

/* Navbar link styling */
.Navbar .nav-link {
    color: white !important;
    margin-right: 15px;
    padding: 10px 15px; /* Adjust padding */
}


.Navbar .nav-link:hover {
    color: #d4edda !important;
    background-color: rgba(255, 255, 255, 0.2); /* Optional: add a background color on hover */
}

/* Hamburger icon color */
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Dropdown menu styling */
.dropdown-menu {
    background-color: #28a745;
    border: none;
    border-radius: 5px; /* Add border radius for a rounded effect */
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: white;
    color: #28a745;
}
