.Header {
  background-color: #28a745;
  padding: 10px 0;
}

.Header .nav-link {
  color: #ffffff; 
  margin-right: 15px;
  text-transform: uppercase;
}

.Header .nav-link:hover {
  color: #d4edda;
  text-decoration: none; 
}

.Header .dropdown-menu {
  background-color: #28a745;
  border: none;
}

.Header .dropdown-item {
  color: #ffffff;
}

.Header .dropdown-item:hover {
  background-color: #218838;
}

.Footer nav-link:hover{
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: 5px;
}